#audi-h{
  color: red;
}
#audi-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#helags{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#elan-h{
  color: orange;
}
#elan-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#elan{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit-h{
  color: orange;
}
#summit-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#latest-vid{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  outline: 5px solid blue;
    outline-offset: 1px;
    width: 300px;
}
#site-info{
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
}
#date-btn{
  position: relative;
  margin-top: 20px;
margin-left: auto;
}
#datumet{
  border-radius: 15px;
  text-align: center;
  width: 460px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#start-btn{
  position: relative;
  margin-top: 10px;
}
#counter{
  position: relative;
}
#left-column-info{
  float: left;
width: 320px;
margin-left: 50px;
}
#row:after{
  content: "";
  display: table;
  clear: both;
}
#card-info{
  background-color: white;
border: 1px solid red;
}
#right-column-info{
  float: left;
margin-left: 20px;
width: 800px;
}
@media screen and (max-width: 600px) {
    #left-column-info, #right-column-info {
        width: 90%;
        padding: 0;
        margin-left: 10px;

    }
}
.barBackground{
    position: relative;
    margin: 10px 0px 10px 0px;
    width: 99%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 25px;
}
.barForeground{
    position: relative;
    height: 20px;
    background-color: #00937b;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.barPercentage{
    position: relative;
    top: -1px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
#bar-pc{
  width: 90%;
}
#bar-edit{
  width: 80%;
}
#bar-html{
  width: 35%;
}
#bar-code{
  width: 25%;
}
.img-info{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#img-flake{
  width: 35px;
  height: 35px;
}
#avatar-img{
  position: relative;
}
#lang-bar-swe{
  width: 97%;
}
#lang-bar-eng{
  width: 55%;
}
#lang-bar-de{
  width: 20%;
}
.info-text{
margin-left: 10px;
}
