#audi-h{
  color: red;
}
#audi-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#helags{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#snow{
  position: relative;
  max-width: 100%;
  height: auto;
}
#elan-h{
  color: orange;
}
#elan-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#elan{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit-h{
  color: orange;
}
#summit-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#latest-vid{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  outline: 5px solid blue;
    outline-offset: 1px;
    width: 300px;
}
#site-info{
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
}
#svenska{
  position: relative;
  display: inline-block;
}
#svenska-text{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#svenska:hover #svenska-text{
  display: block;
}
#engelska-lang{
  position: relative;
  display: inline-block;
}
#engelska-text{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#engelska-lang:hover #engelska-text{
  display: block;
}
#tyska{
  position: relative;
  display: inline-block;
}
#tyska-text{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#tyska:hover #tyska-text{
  display: block;
}
#svenska-flag{
  position: relative;
  width: 300px;
  height: 150px;
}
#engelska-bild{
  position: relative;
  width: 300px;
  height: 150px;
}
#tyska-bild{
  position: relative;
  width: 300px;
  height: 150px;
}
#date-btn{
  position: relative;
  margin-top: 20px;
margin-left: auto;
}
#datumet{
  border-radius: 15px;
  text-align: center;
  width: 460px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
