body{
  background-image: url(../pictures/white.jpg);
  font-family: sans-serif;
}
 #ryska, #engelska #välkommenheader{
   animation: move 1s ;
}
li {
    display: block;
    float: left;
    border-right: 1px solid #bbb;
}
#page-settings {
  position: relative;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  bottom: 0%;

}

#välkommenHeader {
  text-align: center;
  outline: 5px solid blue;
    outline-offset: 5px;
    width: 340px;
    margin: 0 auto;
    margin-top: 10px;
  }
#förstapara{
  border-radius: 10px;
  text-align: center;
  width: 340px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
}
#info{
   text-align: center;
}
#kontakt{
  text-align: center;
}
#rolig {
  text-align: center;
}
#link {
  text-align: center;
}
#youtube {
position: relative;
width: 300px;
}
#steam {
position: relative;
width: 300px;
}
#twitch-button {
position: relative;
width: 300px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #f48042;
}

#engelska{
  text-align: center;
  outline: 5px solid white;
    outline-offset: 5px;
    width: 340px;
    margin: 0 auto;
    margin-top: 10px;
}
#ryska{
  text-align: center;
  outline: 5px solid green;
    outline-offset: 5px;
    width: 340px;
    margin: 0 auto;
    margin-top: 10px;
}
#navul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navmain{
  position: relative;
  list-style-type: none;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.pagerow{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px){
    ul.nav li.right,
    ul.nav li {float: none;}
}
#rotation{
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: skewY(20deg);
  }
  #audirs7{
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
#site-version{
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 130px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}

#ryska{animation-timing-function: ease-in-out;}


@keyframes move {
from{top: 400px;}
to{top: 0px;}
} 
