#random-numb{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
