#random-numb{
  border-radius: 15px;
  text-align: center;
  width: 30px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.img-nav{
  height: 20px;
  width: 20px;
  position: fixed;
}
* {
  box-sizing: border-box;
}
.helags-img {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.helags-img .helags-text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin-bottom: 4px
}
