li {
    display: block;
    float: left;
    border-right: 1px solid #bbb;
}
#page-settings {
  position: relative;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  bottom: 0%;

}

#välkommenHeader {
  text-align: center;
}
#förstapara{
  text-align: center;
}
#info{
   text-align: center;
}
#kontakt{
  text-align: center;
}
#rolig {
  text-align: center;
}
#link {
  text-align: center;
}
#youtube {
border-radius: 15px;
background-color: #f44336;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}
#steam {
  border-radius: 15px;
  background-color: #8B8787;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#twitch_button {
  border-radius: 15px;
  background-color: #BC00FF;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #f48042;
}
#praktik{
  text-align: center;
}
body{
  background-image: url(white.jpg);

}
#engelska{
  text-align: center;
}
#ryska{
  text-align: center;
}
#navul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navmain{
  position: relative;
  list-style-type: none;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.pagerow{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px){
    ul.nav li.right,
    ul.nav li {float: none;}
}
#rotation{
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: skewY(20deg);
  }
  #audirs7{
    width: 400px;
    height: 240px;
  }
