#audi-h{
  color: red;
}
#audi-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#helags{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#snow{
  position: relative;
  max-width: 100%;
  height: auto;
}
#elan-h{
  color: orange;
}
#elan-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#elan{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit{
  position:  relative;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#summit-h{
  color: orange;
}
#summit-info{
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 1px solid black;
}
#latest-vid{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  outline: 5px solid blue;
    outline-offset: 1px;
    width: 300px;
}
#site-info{
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}
